.error{
    text-align: center;
}
.error img{
    width: 100%;
}

.return-btn{
    border: 0;
    background-color: royalblue;
    padding: 12px 10px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
}
.return-btn:hover{
    background-color: darkgreen;
    color: white;
}
.return-btn a{
    text-decoration: none;
    color: white;
}
.return-btn a:hover{
    text-decoration: none;
    color: white;
}

