.banner{
    display: flex;
    background-color: #9FDDEC;
}
.text-part{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner h1{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 0;
}
.banner img{
    width: 50%;
}


.quiz-btn{
    border: 0;
    background-color: royalblue;
    padding: 12px 10px;
    border-radius: 7px;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 20px;
    
}
.div-btn{
    /* text-align: right; */
    display: flex;
    justify-content: end;
}
.quiz-btn{
    display: flex;
    align-items: flex-end;
}
.div-btn a{
    text-decoration: none;
    
}
.quiz-btn:hover{
    background-color: darkcyan;
}