.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightseagreen;
    /* color: white; */
    padding: 0 120px;
}

.site-name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: white;
}

.active{
    background-color: darkcyan;
    padding: 20px;
    color: white;
    text-decoration: none;
}
Nav a{
    color: white;
    text-decoration: none;
}
Nav a:hover{
    color: white;
}

 /*------------------- tab view  ---------------*/

 @media only screen and (min-width: 577px) and (max-width: 990px){
    Link a{
        width: 100%;
        background-color: darkcyan;
    }
    .active {
            background-color: darkcyan;
            padding: 10px;
            color: white;
            text-decoration: none;
        }
 }
 /*------------------- Mobile view  ---------------*/
 @media only screen and (max-width: 576px){
    
    .active {
    background-color: darkcyan;
    padding: 10px;
    color: white;
    text-decoration: none;
    }
 }